<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="header">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />



</head>
<body class="container">

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="/">PSS-Application</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">

					<li class="nav-item"><a class="nav-link" href="loadForm">Search
							Flights</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Booking</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Checkin</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>



	<br />
	<br />



	<div class="">
		<div class="card">
			<div class="card-header bg-info">
				<h5>Book Flight</h5>
			</div>

			<div class="card-body">

				<form th:action="filterFlightsV2" method="post">
					<div class="row g-3 mt-3 justify-content-center">
						<div class="col-3 text-center">
							<input type="text" class="form-control" placeholder="Depart From"
								aria-label="First name" name="origin">
						</div>

						<div class="col-3">
							<input type="text" class="form-control" placeholder="Going To"
								aria-label="Going To" name="destination">
						</div>

						<div class="col-2">
							<input type="date" class="form-control"
								placeholder="Travelling On" aria-label="Traveleling On"
								name="flightDate">
						</div>

						<div class="col-2">
							<select id="inputState" name="travellers" class="form-select">
								<option selected>Travellers</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
							</select>
						</div>
					</div>

					<div class="col mt-4 text-center">
						<button class="btn btn-primary">Search Flights</button>
						<button class="btn btn-primary">Clear All</button>

					</div>

				</form>
			</div>


		</div>

	</div>





</body>
</html>